<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h5 style="font-weight:bold">&copy; 2018 Flintrock Resources Management Inc. By Kimberly Berry </h5>
            <h6 style="text-align:justify; padding-top:10px">Copyright 2018 Corporation. All rights reserved. This website is for informational purposes only. ​Nothing herein
                is intended to constitute an offer, or the solicitation of an offer, to buy or subscribe for any securities
                to any person in any jurisdiction unless otherwise stated. Offers or solicitations which are made to buy
                or sell any securities are only be made pursuant to the Disclosure Memorandum, which contains important information
                about risks, fees, expenses, and details. Further, no offer is made in any jurisdiction where such securities
                are not registered or appropriately exempted. Unless otherwise stated, any securities listed herein will
                not be registered under the US Securities Act of 1933 as amended, or any other act, and only Accredited Investors
                inside the United States as defined in 17 CFR 230.501(a) and persons residing abroad in jurisdictions where
                securities registration exemptions apply may purchase them.</h6>
        </div>
    </div>
</div>