<div class="container">
    <div class="row">
      <div class="col-md-12">
        <accordion>
          <accordion-group disabled="true">
            <accordion-heading style="background:black" id="accordion5">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <span id="icon6" class="glyphicon glyphicon-plus"></span> Legal Documents
                </h2>
              </div>
            </accordion-heading>
            <div class="panel-body">
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>