<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <accordion>
        <accordion-group>
          <accordion-heading id="accordion4" (click)="ontoggle('accordion4')">
            <div class="panel-heading">
              <h2 class="panel-title">
                <span id="icon4" class="glyphicon glyphicon-plus"></span> Login/ Registration - Access to online subscription documents and payment options
              </h2>
            </div>
          </accordion-heading>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                For convenience, privacy and accuracy we offer a complete online subscription process.
                <br>
                <ol>
                  <li>Simply, register by entering your email address and creating a password.</li>
                  <li>You will immediately receive an email with you user name and password with a prompt to login.</li>
                  <li>Login and access electronic subscription documents and payment options.</li>
                </ol>

                <button class="btn" style="background:#ffc926" disabled>Click here to login/register</button>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-12">
                <div>
                  <iframe class="embed-responsive-item" width="100%" height="500" [src]="'https://www.youtube.com/embed/8yGu3HFUrqY' | safe"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>